

<div class="current-banner">
  <div class="reused-banner-inner">
    <h1>My Favourites:</h1>
    <hr>
    <% if @favourites.empty? %>
      <h3>You have no favourites!</h3>
    <% else %>
      <h3>You have <%= @favourites.count %> Favourites</h3>
    <% end %>
  </div>
</div>
<div class="container">



  <% if @favourites.empty? %>
    <div class="text-center">
    <h2>You don't have any favourites <i class="fa-regular fa-face-frown-open"></i></h2>
    <hr>
    <%# <%= link_to "Browse Listings", bands_path, class: 'btn btn-primary' %>
    </div>
  <% else %>
   <div class="cards-booking">
    <% @favourites.each do |favourite| %>
     <h3>  <%=  favourite.job.title %> </h3>




        <div>
        </div>
        </div>
      </div>
    <% end %>
  <% end %>

  </div>
</div>
