<div class="current-banner">
  <div class="reused-banner-inner p-2">
    <h1>My Favourites:</h1>
    <hr>
    <% if @favourites.empty? %>
      <h3>You have no favourites!</h3>
    <% else %>
      <h3>You have <%= @favourites.count %> Favourites</h3>
    <% end %>
  </div>
</div>

<div class="container">
  <% if @favourites.empty? %>
    <div class="text-center">
      <h2>You don't have any favourites <i class="fa-regular fa-face-frown-open"></i></h2>
      <hr>
    </div>
  <% else %>
    <div>
      <% @favourites.each do |favourite| %>
      <div class ="job-profile-card d-flex justify-content-between m-2">
      <div class="job-profile-head d-flex justify-content-between p-2">
      <div>
        <h3><%= favourite.job.title %></h3>
        </div>
          <div>
        <%= link_to "View", job_path(favourite.job), class: 'btn btn-outline-light'  %>

          </div>
        </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
