<%= render partial: "layouts/logo" %>

<div class="container">
  <% @jobs.each do |job| %>
    <div class="video-show outer">
      <%= cl_video_tag(job.video.key, controls: true,
      :width => 390,
      :height => 844,
      :crop => "fill") %>
    </div>
  <% end %>
</div>
