<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<iframe
  src="https://player.cloudinary.com/embed/?public_id=ei7jrhqnybysfjsy6rs2&cloud_name=dnn2gysbs&player[muted]=true&player[hideContextMenu]=true&player[floatingWhenNotVisible]=right&player[autoplay]=true"
  width="640"
  height="360"
  style="height: auto; width: 100%; aspect-ratio: 640 / 360;"
  allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
  allowfullscreen
  frameborder="0"
></iframe>
