.fav-link {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}

.fa-heart {
  color: rgb(114, 43, 213);
}
