.job-profile-container {
  min-height: 400px;
  width: 391px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

.job-title {
  text-shadow: 1px 1px black;
  background-color: rgb(194, 191, 191);
  padding: 2px 2px;
}

.title-card {
  text-align: center;
}
