.job-profile-container {
  min-height: 400px;
  width: 391px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

.job-title {
  text-shadow: 1px 1px black;
  background-color: rgba(132, 51, 203, 0.623);
  padding: 2px 2px;
  margin-top: 20px;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
}

.title-card {
  justify-content: center;
  height: 250px;
  display: flex;
  align-items: center;
}

.job-details-card {
  text-align: center;
  background-color: rgb(178, 13, 178);
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  color: white;
  padding: 10px 0;
  box-shadow: 4px 4px 5px black;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.job-profile-container {
  background-color: #009fbd;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  text-align: center;
}

.job-favorite {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f9e2af;
  color: black;
  text-decoration: none;

}

.heart-fav-link {
  font-size: 35px;
}

.fav-link {
  text-decoration: none;
  margin: 0 auto;
}

.remove-style {
  background: none;
  border: none;
}
