.job-profile-container {
  min-height: 100vh;
  width: 391px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
body, h3, h4 {
  font-family: "Red Hat Display", sans-serif, !important;
}

.job-title {
  text-shadow: 3px 3px 5px black;
  padding: 5px 5px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.title-card {
  // position: absolute;
  // height: 250px;
  // top: 50px;
  text-align: left;
  margin-left: 8px;
}

.job-profile-container {
  background-color: rgb(31, 30, 30);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  text-align: center;
}

.job-favorite {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f9e2af;
  color: black;
  text-decoration: none;
  padding-top: 5px;
  align-items: center;
}


.heart-fav-link {
  font-size: 35px;
}

.fav-link {
  text-decoration: none;
  margin: 0 auto;
}

.remove-style {
  background: none;
  border: none;
}

.job-details-card {
  background-color: rgb(67, 67, 67);
  width: 95vw;
  border-radius: 16px;
  padding: 10px 10px;
  margin: 5px auto;
  color: white;
  text-align: left;
}

.job-details-card > h3 {
  font-weight: bold;
}

.job-details-card > h4 {
  font-weight: lighter;
}

.profile-show {
  margin-top: 280px;
}
.job-profile-nav {
  display: flex;
  height: 40px;
  width: 95vw;
  justify-content: space-evenly;
  background-color: rgb(67, 67, 67);
  border-radius: 16px;
  align-items: center;
  margin: 2px auto;
}

.profile-nav-btn {
  color: white;
  height: 100%;
  width: 95vw;
  align-items: stretch;
  padding-top: 5px;
}

.active {
  background-color: white !important;
  color:  rgb(67, 67, 67) !important;
  border-radius: 16px;
  height: 100% !important;
}

button {
  background: none;
	color: inherit;
	border: none;
	// padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.job-subjects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.subject-link {
  color: white;
  background-color: rgb(125, 46, 236);
  border-radius: 8px;
  padding: 4px 8px;
  text-decoration: none;
}
