.job-infos {
  z-index: 4;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 30px;
  margin-bottom: 80px;
  color: white;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px black;
}

.job-detail-thumb {
  color: rgb(227, 225, 225);
  margin-top: -10px;
  text-shadow: 1px 1px black;
}
