.app-logo {
  font-family: 'Lobster', cursive;
  color: #77037B;
  text-shadow: -0.2px -0.2px 0 #ffffff, 0.2px -0.2px 0 #ffffff, -0.2px 0.2px 0 #fcfcfc, 0.2px 0.2px 0 #ffffff;
  z-index: 1;
  font-size: 40px;
  position: fixed;
  left: 0;
  margin-left: 10px;
}
