.nav-icon {
  color: white;
  font-size: 25px;
}

.navbar-whole {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.navbar {
  margin: 10px auto;
  display: flex;
  justify-content: space-around !important;
  background-color: rgba(114, 43, 213, 0.368);
  width: 90%;
  border-radius: 16px;
  height: 60px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

// .active {
//   background-color: black;
// }

#search-bar {
  z-index: 10;
}

#search-btn {
  background: none;
  border: none;
}
