.search-bar {
  position: relative;
  // bottom: 70px;
  width: 90%;
  margin: 10px auto;
  z-index: 7;
  // margin-left: 35px;
}

.results-container {
  margin: 0 auto;
  margin-top: -15px;
  // height: 100svh;
  overflow: scroll;
  width: 100vw;
  margin-bottom: 5px;
  margin-left: 25px;
}


.results-head {
  margin-top: 60px;
  margin-left: 20px;
}
