.user-profile-card {
  background-color: #F9E2AF;
  height: 90vh;
  border-radius: 8px;
  color: white;
}

.user-profile-head{
  background-color: #009FBD;
  border-radius: 8px;
  text-align: center;
  padding: 5px 0;
  min-width: 90%;
  margin: 10px auto;
}
