.user-profile-card {
  background-color: #f9e2af;
  height: 90vh;
  border-radius: 8px;
  color: white;
}

.user-profile-head {
  background-color: #009fbd;
  border-radius: 8px;
  padding: 5px 5px;
  min-width: 90%;
  margin: 10px auto;
}
